.about-us-page{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 96px;
    margin-top: 80px;
    padding: 64px 38px 64px 64px ;
}

.text-about-us{
    background-color: #2c2c;
}

.text-about-us h2{
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: black;
    margin-bottom: 16px;
}

.text-about-us h3{
    font-weight: 700;
    font-size: 48px;
    letter-spacing: 1px;
    color: black;
}

.p-about-us p{
    font-weight: 400;
    font-size: 16px;
    color: #4C4C4C;

}

.p-about-us {
    padding-left: 32px;
    max-width: 477px;
}



