<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="main.css">
</head>
<body>

<header>

    <div class="container">
        <div class="container-header">
            <a href="#"> <img src="images/Logo.png" alt="logo" class="animated-image"></a>

            <div class="header-nav">
                <nav>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="all-posts.page.html">Blog</a></li>
                        <li><a href="about-us.page.html">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </nav>
                <button>Subscribe</button>
            </div>
        </div>
    </div>
</header>


<main>
    <section>
        <div class="container">
            <div class="inner-header">
                <div class="photo-name">
                    <img src="images/profile-buttons/Profile%20picture%20(1).png" alt="">
                    <div class="name">
                        <h2><a href="#">Andrew Jonson</a></h2>
                        <p>Posted on 27th January 2022</p>
                    </div>
                </div>
                <h3>Step-by-step guide to choosing <br> great font pairs</h3>

                <div class="logo-startup">
                    <img src="images/logo%20to%20catalog/Icon.png" alt="">
                    <p>Startup</p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="photo-bg-girl">
                <img src="images/blogPostPage/photo-of-woman-wearing-eyeglasses-3184405.svg" alt="">
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="blog-body">
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At
                    risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient montes.
                    Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque egestas diam. Risus in
                    hendrerit gravida rutrum quisque non.</p>
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At
                    risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient montes.
                    Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque egestas diam. Risus in
                    hendrerit gravida rutrum quisque non.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At
                    risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient montes.
                    Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque egestas diam. Risus in
                    hendrerit gravida rutrum quisque non.</p>
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Non blandit massa enim nec scelerisque</li>
                    <li>Neque egestas congue quisque egestas</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At
                    risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient montes.
                    Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque egestas diam. Risus in
                    hendrerit gravida rutrum quisque non.</p>
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At
                    risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient montes.
                    Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque egestas diam. Risus in
                    hendrerit gravida rutrum quisque non.</p>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="read-next-container">
                <h2>What to read next</h2>
                <div class="read-next">
                    <div class="read-list">
                        <img src="images/blogPostPage/two-women-in-front-of-dry-erase-board-1181533.svg" alt="">
                        <p>By <a href="">John Doe</a> l Aug 23, 2021</p>
                        <h3>A UX Case Study Creating a Studious Environment for Students: </h3>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                            pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                    </div>

                    <div class="read-list">
                        <img src="images/blogPostPage/photo-of-woman-looking-at-man-3183173.svg" alt="">
                        <p>By <a href="">John Doe</a> l Aug 23, 2021</p>
                        <h3>A UX Case Study Creating a Studious Environment for Students: </h3>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                            pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                    </div>

                    <div class="read-list">
                        <img src="images/blogPostPage/photo-of-people-doing-handshakes-3183197.svg" alt="">
                        <p>By <a href="">John Doe</a> l Aug 23, 2021</p>
                        <h3>A UX Case Study Creating a Studious Environment for Students: </h3>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                            pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

<footer>


</footer>

</body>
</html>