/*section featured text*/

.feature-container{
    display: flex;
    justify-content: space-between;
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F4F0F8;
}

.feature-text h2{
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;
    margin-bottom: 20px;
}

.feature-text h3{
    font-weight: 700;
    font-size: 36px;
    line-height: 133%;
    letter-spacing: 1px;
    color: black;
    margin-bottom: 16px;
}

.feature-text p{
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #6D6E76;
    margin-bottom: 32px;
}

.date span{
    color: #592EA9
}

.feature-text p:nth-of-type(2){
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #6D6E76;
}

.feature-text button{
    padding: 16px 48px;
    background-color: #FFD050;
    border: none;
}

.feature-text button:hover{
    background-color: #715816;
    color: black;
    transform: scale(1.1);
}










