* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
    /*max-width: 1280px;*/
    margin: auto;
    padding: 0 82px 0;
}

header{
    background-color: #232536;
}

.container-header{
    display: flex;
    padding: 25px 0;
    justify-content: space-between;
    align-items: center;
}

.animated-image {
    display: block;
    transform: translateX(-100%);
    opacity: 0;
    animation: slideIn 1s ease-in-out forwards;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.header-nav{
    display: flex;
    gap: 32px;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 24px;
}

li a{
    color: #ffffff;
}


.header-nav nav ul li:hover {
    /*font-size: 20px;*/
    /*transform:translate(0, -40px);*/
    transform: scale(1.5, 2);
    text-shadow: 0 0 10px #FFD050, 0 0 20px #ffb700;
}


.container .container-header .header-nav button{
    border: none;
    background: #ffffff;
    color: #232536;
    padding: 16px 48px;
}

.header-nav button:hover {
    background-color: #654f13;
    transform: scale(1.1);
}

/*section home*/

.home{
    padding-top: 128px;
    padding-bottom: 192px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid #000;
    background: radial-gradient(circle at 80% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
    url(images/man-in-black-suit-wearing-eye-glasses-sitting-on-gray-sofa-using-macbook-3772622.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.home-block-p{
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 24px;
    letter-spacing: 1px;
}

.home-block p span{
    font-weight: bold;
}

h1{
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 1px;
    color: #ffffff;
    margin-bottom: 24px;
    line-height: 114%;
}

.home-block .home-date p{
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 16px;
    line-height: 175%;
    letter-spacing: 1px;
}

.home-block .home-date span{
    color: #FFD050;
}

.home-text{
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 48px;
    letter-spacing: 1px;
}

.home-block button{
    padding: 16px 48px;
    background-color: #FFD050;
    color: black;
    border: none;
}

.home-block button:hover{
    background-color: #715816;
    color: black;
    transform: scale(1.1);
}

/*section featured*/
.content{
    display: flex;
    margin-top: 128px;
    justify-content: center;
    gap: 32px;
    margin-bottom: 128px;
}

.container.content .featured-container .featured .featured-post h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 133%;
    letter-spacing: 1px;
    color: black;
    margin-bottom: 32px;
}

.post-wrapper{
    border: 1px solid rgba(109, 110, 118, 0.1);
    padding: 32px;
}

.post-wrapper img{
    width: 100%;
}

.post-wrapper p{
    margin-top: 32px;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #4C4C4C;
}
.post-wrapper span{
    color: #592EA9;
}

.post-wrapper h3{
    font-weight: 700;
    font-size: 28px;
    line-height: 143%;
    letter-spacing: 1px;
    margin-bottom: 16px;
}

.post-wrapper > .post-wrapper-p{
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #6D6E76;
    margin-bottom: 32px;
}

.post-wrapper .button{
    padding: 16px 48px;
    background-color: #FFD050;
    color: black;
    border: none;
}

.post-wrapper .button:hover{
    background-color: #715816;
    color: black;
    transform: scale(1.1);
}

.all-posts{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

.all-posts h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 133%;
    letter-spacing: 1px;
    color: black;
}

.all-posts a{
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #592EA9;
}

.all-posts a:hover{
    transform: scale(1.5, 2);
}

.item{
    padding: 32px 116px 25px 32px;
    cursor: pointer;
}

.item span{
    color: #592EA9;
}

.item-p{
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: black;
}

.item-p-span {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;;
}

.items .item:hover{
    background-color: #FBF6EA;
}

/*section about company*/
.strip {
    background-color: #FFD050;
    height: 24px;
    position: relative;
}

.strip::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 282px;
    height: 100%;
    background-color: #592EA9;
}

.strip::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 220px;
    height: 100%;
    background-color: white;
}

.info-about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 96px 108px 96px 80px;
    gap: 61px;
    background-color: #F4F0F8;
}

.info-about p:nth-child(1){
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;
}

.about-us h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 133%;
    letter-spacing: 1px;
    color: black;
    margin: 21px 0 16px;
}

.about-us p:nth-of-type(2),.our-mission p:nth-of-type(2) {
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #6D6E76;
    margin-bottom: 16px;
}

.about-us a{
    font-weight: 700;
    font-size: 18px;
    line-height: 178%;
    color: #592EA9;
}

.about-us a:hover{
    transform: scale(1.5, 2);
}



.our-mission h2{
    font-weight: 700;
    font-size: 28px;
    line-height: 143%;
    letter-spacing: 1px;
    color: black;
    margin: 24px 0 16px;
}

/*section choose*/
.choose h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 133%;
    letter-spacing: 1px;
    color: black;
    text-align: center;
    margin: 128px 0 48px;
}

.choose-catalogs{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    margin-bottom: 128px;
}

.choose-catalog {
    border: 1px solid rgba(109, 110, 118, 0.2);
    padding: 32px;
}

.choose-img{
    background-color: #FBF6EA;
    border-radius: 4px;
    padding: 12px;
    width: 48px;
    height: 48px;
    margin-bottom: 16px;
}

.choose-catalog h3{
    font-weight: 700;
    font-size: 28px;
    line-height: 143%;
    letter-spacing: 1px;
    color: black;
    margin-bottom: 4px;
}

.choose-catalog p{
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #6D6E76;
}

.choose-catalog:hover{
    background-color: #FFD050;
}

/*section special*/

.container.specials {
    display: flex;
    position: relative;
    align-items: flex-start;
    margin-bottom: 128px;
}

.special-img {
    flex: 0 0 auto; /* Отключаем растяжение блока с картинкой */
    position: relative;
}

.special-img img {
    display: block;
    width: auto;
    height: auto;
}

.special {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 50%;
    background: rgba(255, 255, 255, 0.8);
    padding: 80px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.started h2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;
    margin-bottom: 24px;
}

.started h3 {
    font-weight: 700;
    font-size: 48px;
    line-height: 133%;
    letter-spacing: 1px;
    color: black;
    margin-bottom: 16px;
}

.started p {
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #6D6E76;
    margin-bottom: 32px;
}

.started button {
    background-color: #FFD050;
    border: none;
    padding: 16px 48px;
    cursor: pointer;
}

.started button:hover{
    background-color: #715816;
    transform: scale(1.1);
}

/*section visit cards*/

.visit-card{
    margin-bottom: 96px;
}

.container.visit-card h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 133%;
    letter-spacing: 1px;
    color: black;
    text-align: center;
    margin-bottom: 42px;
}

.visit-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 32px;
}

.card{
    display: grid;
    background-color: #F4F4F4;
    justify-content: center;
    justify-items: center;

}

.card:hover{
    background-color: #FBF6EA;;
}


.visit-cards img{
    margin-top: 40px;
    margin-bottom: 20px;
}

.visit-cards h3{
    font-weight: 700;
    font-size: 28px;
    line-height: 143%;
    letter-spacing: 1px;
    color: black;
}

.visit-cards p{
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: #6D6E76;
    margin-bottom: 20px;
}

.social-links{
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
}

/*section logo components*/

.logo-components{
    display: flex;
    /*gap:87px;*/
    margin-bottom: 96px;
    justify-content: space-between;
    align-items: center;
}

.logo-component-text h2{
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #6D6E76;
}

.logo-component-text h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: #6D6E76;
}

.logo-component{
    display: flex;
    gap: 74px;
}

/*section profile*/

.testimonial{
    display: flex;
    background-color: #FBF6EA;
    margin: 80px;
}

.testimonials{
    margin-top: 92px;
    margin-left: 30px;
}

.testimonials h2{
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;

}

.testimonials h3{
    font-weight: 700;
    font-size: 36px;
    line-height: 133%;
    letter-spacing: 1px;
    color: black;
    margin: 12px 0 16px;
}
.testimonials p{
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: black;
}

.line{
    border-left: 1px solid #6D6E76;
    width: 0;
    height: 310px;
    opacity: 0.4;
    margin: 80px 96px 74px 80px;
}

.testimonials-description {
    margin-top: 80px;
}

.testimonials-description-p{
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: black;
    margin-bottom: 114px;
}

.profile-buttons {
    display: flex;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile img{
    margin-right: 16px;
}

.profile-description{
    margin-right: 140px;
}

.profile-description h4{
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: black;
}

.profile-description p{
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #6D6E76;
}

.buttons{
    display: flex;
    align-items: center;
}

.buttons img {
    cursor: pointer;
}

/*section join team*/
.container.team{
    display: flex;
    justify-content: center;
}
.join-team{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 128px;
    max-width: 414px;
}

.join-team h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 133%;
    letter-spacing: 1px;
    text-align: center;
    color: black;
}

.join-team p{
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    text-align: center;
    color: #6D6E76;
    margin-top: 16px;
    margin-bottom: 32px;
}

.join-team button{
    background-color: #FFD050;
    border: none;
    padding: 16px 48px;
    cursor: pointer;
}

.join-team button:hover{
    background-color: #715816;
    transform: scale(1.1);
}

/*footer*/

.footer{
    background-color: black;
    padding: 60px 80px;
}

.footer-logo-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 54px;
}

.footer-nav{
    display: flex;
    gap: 32px;
    align-items: center;

}

nav ul {
    display: flex;
    gap: 24px;
}

li {
    color: #ffffff;
}

li:hover {
    transform: scale(1.5);
    text-shadow: 0 0 10px #FFD050, 0 0 20px #ffb700;
}

.subscribe{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4C4C4C;
    color: white;
    padding: 80px 64px;
}

.subscribe h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 133%;
    letter-spacing: 1px;
    margin-right: 64px;
}

form input{
    padding: 14px 0 14px 25px;
    background-color: #4C4C4C;
    border: 1px solid #6D6E76;
    color: #6D6E76;
    margin-right: 24px;
}

form button{
    padding: 16px 48px;
    background-color: #FFD050;
    cursor: pointer;
    border: none;
}

form button:hover{
    background-color: #715816;
    transform: scale(1.1);
}

.footer-info{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.footer-info p{
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: white;
    opacity: 0.7;
}

.social-logo-footer{
    display: flex;
    align-items: center;
    gap: 27px;
}

